/* Prerequisites */
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto 1fr auto auto;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "aside aside"
    "footer footer";
}
/* End of prerequisites */
nav {
  grid-area: nav;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  position: sticky;
  top: 0;
  background-color: #ddd;
}
nav * {
  margin: 0;
  padding: 0.3rem;
  text-align: center;
  text-decoration: none;
}
nav a {display: flex; align-items: center;}
nav a:not(.active),
nav a:not(.open-icon) {display: none;}
nav span {display: inline;}
nav.open a {display: block;}
nav a.active {display: block}
nav div.middle {
  display: none;
  flex-grow: 1;
}
nav div.open-icon {display: block; font-weight: bold;}
nav a:hover {
  text-decoration: underline;
}
/* Based on Bootstrap, changing from small screens to medium */
@media (min-width: 768px) {
  body {
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "main aside"
      "footer footer";
  }
  nav { flex-flow: row nowrap; }
  nav * {padding: 0.5rem;}
  nav a:not(.active),
  nav div.middle {display: block;}
  nav div.open-icon,
  nav span {display: none;}
}
